{{ define "main" }}
<main>
    {{ partial "prose.html" . }}

    <section class="max-w-2xl mx-auto p-3 flex gap-4 flex-col">
        {{ range .Sections }}
        <a href="{{ .RelPermalink }}" class="bg-white p-4 rounded shadow-md hover:shadow-lg flex gap-4">
            {{ with .Resources.GetMatch "cover.*" }}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}"
                 class="object-cover w-24 h-32 border-4 border-white shadow">
            {{ end }}
            <div class="flex flex-col gap-1">
                <p>{{.Title}}</p>
                <p class="text-sm text-gray-500">{{ .Params.subtitle }}</p>
                <p class="text-sm text-gray-500">{{ .Params.edition }}</p>
                <p class="text-sm text-gray-500">{{ .Params.bookAuthor }}</p>
            </div>
        </a>
        {{ end }}
    </section>
</main>
{{ end }}
